body {
    background-image: url(./imagens/bosqueG.jpg);
    background-color: #4a5b24;
    background-repeat: no-repeat;
    background-position: center;
    font: normal 20px arial;
    color: rgba(25,25,32,365); 
    margin: auto;
}
header {
    background: #4a5b24;
    border-radius: 25px;
    width: 300px;
    margin: 0 auto;
    color: #eafb0f; 
    text-align: center;
}
section{
    text-align: center;
    border-radius: 25px;
    background: #4a5b24;
    width: 400px;
    margin: 10px auto 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,363);
    color: #eafb0f;       
}